.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover .recipe-card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #F5E8C7;
}

.recipe-card {
  width: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.recipe-name {
  font-weight: 600;
  margin-bottom: 10px;
}

.recipe-emojis .emoji {
  border-radius: 50%; 
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  font-size: 24px;
}

.emoji.available {
  background-color: #98D8AA; 
}

.emoji.missing {
  background-color: #FF6D60;
}
