.tabs-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 25%;
}

.button-tabs {
  color: #7f5539;
  font-weight: 600;
  padding: 15px 30px;
  margin-bottom: 10%;
  font-size: 30px;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.button-tabs.active {
  transform: scale(1.5);
}

.content {
  flex: 1;
  margin: 25px 20px 25px 0;
  background-color: #7f5539;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  overflow: auto;
  align-items: flex-start;
}

.material-symbols-outlined {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}


